<% include header.ejs %>
<link href="/stylesheets/sass/products.scss" rel="stylesheet">
  <body>
    <div class="banner">
      <img src="/images/products_banner.png" alt="">
    </div>
<% include footer.ejs %>
<script src="/javascripts/products.js"></script>
</html>