<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=0">
    <meta name="description" content="灯塔会员">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="灯塔会员 灯塔财经 筹码分布 相似K线 多空信号">
    <title>
        <%=title%>
    </title>
    <link href="/dist/css/reset_3c8652f7bc.css" rel="stylesheet">
    <link href="/dist/css/style_79cd12045b.css" rel="stylesheet">
</head>