<% include header.ejs %>
<link href="/dist/css/products_763b766b31.css" rel="stylesheet">
  <body>
    <div class="banner">
      <img src="/dist/images/products_banner.png" alt="">
    </div>
<% include footer.ejs %>
<script src="/dist/js/products_d41d8cd98f.js"></script>
</html>